body {
	background: url('../img/tlpd-bg.png') #121212 0 0 fixed no-repeat;
	background-size: 100%;
	color: #eee;
}

section > ol, section > ul { padding-left: 20px; }

h1,h2,h3,h4,h5,h5 { color: #eee; }

header#header { 
	text-align: center;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
}

header#header h1 { 
	font-size: 2.75em;
	text-shadow: 0 2px 5px rgba(0,0,0,0.75);
}

#main { }

#about, #how-it-works, #requirements, #how-to {
	padding: 0 20px;
	margin-bottom: 50px;
	background: #222;
	border: 1px solid #333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

@media (min-width: 1280px) {
	#main { margin-top: 400px; }
}

@media (min-width: 769px) and (max-width: 1279px) {
	#main { margin-top: 250px; }
}